.App {
	text-align: center;
}

/* from kyle */
#video-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
video {
	width: 300px;
	height: 300px;
	/* giving height coz aspect-ratior is not supported on safari currently, date: 18 July, 2022*/
	aspect-ratio: 1;
	border-radius: 50px;
	object-fit: cover;
	margin: 10px;
}

.btn {
	display: inline-block;
	color: white;
	padding: 20px;
	border-radius: 20px;
	text-decoration: none;
	margin: 20px;
	background: skyblue;
	min-width: 200px;
	font-weight: 800;
	font-size: 1.5rem;
}
.btn-home {
	background: #e04c68;
}

.btn-disconnect {
	padding: 30px;
	min-width: 300px;
	border-radius: 50px;
	font-size: 2rem;
	font-weight: 1000;
	background: grey;
	color: ghostwhite;
	margin: 50px;
}

.title {
	font-family: monospace;
}

/* Disable blue outline */
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}

.hero-text {
	font-size: 4rem;
	font-family: system-ui;
}
